
# cpp-plugin ignores
*.obj
*.dll
*.lib
*.exp
*.dblite

# Godot-specific ignores
.godot/
.vscode/
.import/
export.cfg
export_presets.cfg
icon.svg

# Mono-specific ignores
.mono/
data_*/
asset/
addons/
bin/
cpp-plugin/build/
cpp-plugin/.vscode/
cpp-plugin/bin/
